.homepage{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(245, 165, 165, 0.705);
}